@use "variables" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-main;
    background: $color-bg;
    color: $color-text;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    font: inherit;
}